<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.basemode.BaseDao">
	<!-- 结果集映射：映射实体类属性与数据表字段名 -->
	<resultMap type="Map" id="userResultMap">
		<id property="user_id" column="user_id" />
		<result property="user_name" column="user_name" />
		<result property="user_age" column="user_age" />
		<result property="user_sex" column="user_sex" />
		<result property="user_birthday" column="user_birthday" />
		<result property="user_address" column="user_address" />
	</resultMap>

	<insert id="insert" parameterType="Map">
		insert into t_userinfo
		(user_id,user_name,user_age,user_sex,user_birthday,user_address)
		values (#{user_id},#{user_name},#{user_age},#{user_sex},#{user_birthday},#{user_address})
	</insert>
</mapper>